body {
    font-family:cursive; 
    background-color: #f1a9a9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .App {
    background-color: rgb(233, 218, 12);
    padding: 20px;
    border-radius: 70px;
    box-shadow: 2px 2px 40px;color: #0c0c0c;
    width: 400px;
  }
  
  .App h1 {
    color: #131414;
    text-align:center;
    font-size: 45px;
    margin-bottom: 35px;
  }
  
  form {
    display: flex;
    flex-direction:column;
  }
  
  input {
    height: 50px;
    padding-left: 150px;
    margin-bottom: 20px;
    border: 2%;;color: #0c0c0c;
    border-radius: 40px 0px ;
  }
  
  button {
    padding:15px;
    border: 30;color:#0c0c0c;
    border-radius: 100px;
    cursor: pointer;
    background-color: #a00c0c;
    color: #fff;
  }
  
  button:hover {
    background-color: #4378b1;
  }
  
  ul {
    list-style-type:box-shadow;
    padding: 4;
  }
  
  li {
    display:-ms-flexbox;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 5px solid #eef2f3;
  }
  li.completed{
    text-decoration: line-through;
    color: #a00c0c;
  }
  
  li button {
    margin: left 30px;
  }
  